<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<title>Add Medicine</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>

		<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><h4><b>SmartCity</b></h4></a>
			</div>
			 
			<div id="navbar" class="collapse navbar-collapse">
				<form align="right" name="form1" method="post" action="log_out.php">
  			<label>
  			 
  				<ul class="nav navbar-nav">
  				   <li sec:authorize="isAuthenticated()"><a th:href="@{/}"><h4>Home</h4></a></li >
  				   <li sec:authorize="isAuthenticated()"><a th:href="@{/about}"><h4>AboutUs</h4></a></li >
				   <li sec:authorize="isAuthenticated()"><a th:href="@{/contact}"><h4>Contact</h4></a></li >
				   <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><h4>Logout</h4></a></li>
				   
				</ul>
  			</label>
			</form>
			</div>
		</div>
	</nav>

	<br>
	<br>


<br>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class="col-md-6 col-md-offset-3">
				<h1 class = "text-center"> Add Medicine </h1>
				<div class = "card-body">
					<form th:action="@{/addMedicine}" th:object = "${Medicine}" method="POST">
						<div class ="form-group">
							<label> Medicine </label>
							<input
							type = "text"
							name = "sname"
							th:field = "*{medicinename}"
							class = "form-control"
							placeholder="Delhi Ps" 
							required
							/>
						</div>
						
						<div class ="form-group">
							<label>availabletime</label>
							<input
							type = "text"
							name = "category"
							th:field = "*{availabletime}"
							class = "form-control"
							placeholder="Secondary" 
							required
							/>
						</div>
						
						<div class ="form-group">
							<label> Location </label>
							<input
							type = "text"
							name = "location"
							th:field = "*{location}"
							class = "form-control"
							placeholder="Telangana" 
							required
							/>
						</div>
						
							<div class ="form-group">
							<label> expdate </label>
							<input
							type = "text"
							name = "estab"
							th:field = "*{expdate}"
							class = "form-control"
							placeholder="1985" 
							required
							/>
						</div>
						<div class ="form-group">
							<label> Imported From </label>
							<input
							type = "text"
							name = "estab"
							th:field = "*{importfrom}"
							class = "form-control"
							placeholder="1985" 
							required
							/>
						</div>
						
						
					 
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>

</html>