<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>addMedicine</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
</head>
<body>
	<!-- create navigation bar ( header) -->
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
					aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span
						class="icon-bar"></span> <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><h4><b>SmartCity</b></h4></a>
			</div>
			 
			<div id="navbar" class="collapse navbar-collapse">
				<form align="right" name="form1" method="post" action="log_out.php">
  			<label>
  			 
  				<ul class="nav navbar-nav">
  				   <li sec:authorize="isAuthenticated()"><a th:href="@{/}"><h4>Home</h4></a></li >
  				   <li sec:authorize="isAuthenticated()"><a th:href="@{/about}"><h4>AboutUs</h4></a></li >
				   <li sec:authorize="isAuthenticated()"><a th:href="@{/contact}"><h4>Contact</h4></a></li >
				   <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><h4>Logout</h4></a></li>
				   
				</ul>
  			</label>
			</form>
			</div>
		</div>
	</nav>
<br>
<br>
<br>
<br>
<br>

  <div class ="container">
    <div class = "row">
      <h1>addMedicine Details</h1>
    </div>

    
    <div class = "row">
      </div>
    <table class = "table table-striped table-bordered">
      <thead class = "table-dark">
        <tr>
          <th> addMedicine</th>
          <th> Available time</th>
          <th> Location </th>
          <th> Exp Date </th>
          <th>Imported From</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      
      <tbody>
        <tr th:each = "addMedicine: ${addMedicine}">
          <td th:text = "${addMedicine.medicinename}"></td>
          <td th:text = "${addMedicine.availabletime}"></td>
          <td th:text = "${addMedicine.location}"></td>
          <td th:text = "${addMedicine.expdate}"></td>
          <td th:text = "${addMedicine.importfrom}"></td>
          <td>
						<a th:href = "@{/addMedicine/edit/{id}(id=${addMedicine.id})}"
						 class = "btn btn-primary">Update</a></td>
						
						<td><a th:href = "@{/addMedicine/{id}(id=${addMedicine.id})}"
						 class = "btn btn-danger">Delete</a></td>
          </td>
        </tr>
      </tbody>
    
    </table>
    
  </div>



</body>
</html>
















































 